@-webkit-keyframes slide {
    from { background-position: right -80px top 76px; }
    to { background-position: right top 76px; }
}

@-webkit-keyframes feature {
    from { background-position: center right 15%; }
    to { background-position: center right 25%; }
}
@-webkit-keyframes form {
    from { background-position: center right -80px; }
    to { background-position: center right; }
}

.politics__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .politics__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  .politics__checkbox:checked+label::before {
    border-color: darkgrey;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }