.features
    background: url("../img/features/features_img.jpg") no-repeat center right 25%
    background-size: 43%
    -webkit-animation: feature 0.8s linear 
    &__block
    &-block
        &__item
            display: flex
            align-items: flex-start
            margin-bottom: 30px
        &__text
            +text
            max-width: 160px
            margin-top: 0px
            line-height: 150%
        &__number
            +reg_cond
            color: $text-color_80
            font-weight: 300
            font-size: 44px
            margin-right: 10px
            line-height: 100%
@media (max-width: 768px)
    .features
        background: url("../img/features/features_img_mob.jpg") no-repeat center right 25%
        background-size: 43%
@media (max-width: 680px)
    .features
        background-size: 40%
@media (max-width: 610px)
    .features
        padding-top: 0px
        background: #EDEDED
        &-block
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            &__number
                font-size: 25px
            &__text
                font-size: 15px
        

            